<header class="align-content-center">
    <nav class="navbar navbar-expand-md  navbar-dark " id="myNav">
        <div class="container-fluid px-0 ">
            <!--   Botón visible solo en móviles para abrir sidebar -->
            <button class="btn p-0 d-md-none " type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="sidebarOffcanvas">
                <svg width="24" height="24" fill="#000">
                    <use href="/assets/svg/iconos.svg#icon-main" />
                </svg>
            </button>
            <a class="navbar-brand " href="/index.html"> <img class="imgHeader" src="../assets/img/logo/logotipoWK.svg"
                    alt="logotipo Work Hub"></a>


            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <strong class="me-2 d-none d-md-flex">Admin Apellido</strong>
                    <img src="https://github.com/XioG98.png" alt="" width="32" height="32" class="rounded-circle me-2">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                    <li><a class="dropdown-item" href="../pages/employer.html">Ver vista empleador</a> </li>
                    <li><a class="dropdown-item" href="../pages/employee.html">Ver vista empleado</a> </li>
                    <li><a class="last-dropdown-item dropdown-item" href="/index.html">Salir</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>