<body>
<aside class="offcanvas-md side-menu offcanvas-start d-flex flex-column" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="btn menu-option" href="/pages/admin-management-dashboard.html">
                    <svg class="me-2" width="18" height="18">
                        <use href="/assets/svg/iconos.svg#icon-main" />
                    </svg>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="btn menu-option" href="/pages/admin-management-users.html">
                    <svg class="me-2" width="18" height="18">
                        <use href="/assets/svg/iconos.svg#icon-user" />
                    </svg>
                    Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="btn menu-option" href="admin-management-offers.html">
                    <svg class="me-2" width="18" height="18">
                        <use href="/assets/svg/iconos.svg#icon-ofertas" />
                    </svg>
                    Ofertas
                </a>
            </li>
            <li class="nav-item">
                <a class="btn menu-option" href="/postulaciones.html">
                    <svg class="me-2" width="18" height="18">
                        <use href="/assets/svg/iconos.svg#icon-postulaciones" />
                    </svg>
                    Postulaciones
                </a>
            </li>
            <li class="nav-item">
                <a class="btn menu-option" href="admin-management-reports.html">
                    <svg class="me-2" width="18" height="18">
                        <use href="/assets/svg/iconos.svg#icon-reportes" />
                    </svg>
                    Reportes
                </a>
            </li>
        </ul>
    </div>
</aside>


</body>


