
    <footer>
      <div class="myFooter d-flex justify-content-center flex-column flex-md-row">
        <div class="logo-Redes d-flex flex-column align-items-center justify-content-center">
          <img id="imgFooter" src="/assets/img/logo/LogotipoWorkHub.svg" alt="logoWK">
          <div class="redesSociales">
            <a href=""><img class="redes" src="/assets/img/icons/instagram.svg" alt=""></a>
            <a href=""><img class="redes" src="/assets/img/icons/x.svg" alt=""></a>
            <a href=""><img class="redes" src="/assets/img/icons/facebook.svg" alt=""></a>
          </div>
        </div>
        <div id="informacionFooter" class="d-flex align-items-start justify-content-center ">
          <ul class="list-unstyled d-flex flex-column justify-content-center">
            <li>
              <h2>Nosotros</h2>
            </li>
            <li><a class="fs" href="">Sobre nosotros</a></li>
            <li><a class="fs" href="">Política de privacidad</a></li>
            <li><a class="fs" href="">Términos y condiciones</a></li>
          </ul>
          <ul class="list-unstyled d-flex flex-column  justify-content-center">
            <li>
              <h2>Ayuda</h2>
            </li>
            <li><a class="fs" href="">Preguntas frecuentes</a></li>
            <li><a class="fs" href="">Soporte</a></li>
            <li><a class="fs" href="">Comunidad</a></li>
            <li><a class="fs" href="">¿Cómo publicar una oferta?</a></li>
            <li><a class="fs" href="">¿Cómo aplicar a una oferta?</a></li>
            <li><a class="fs" href="">Contactanos</a></li>
          </ul>
        </div>
      </div>
      <hr class=" border-top border-4 border-secondary rounded-4">
    </footer>
