<body>
    <header class="align-content-center">
        <nav class="navbar navbar-expand-md  navbar-dark " id="myNav">
            <div class="container-fluid px-0 ">
                <a class="navbar-brand m-0" href="/index.html">
                    <img class="imgHeader d-none d-md-inline" src="../assets/img/logo/logotipoWK.svg"
                        alt="logotipo Work Hub">
                </a>
                <!-- Barra de busqueda-->
                <!-- <div class="col-8 col-md-8 d-flex justify-content-center align-items-center ">
                    <button id="filterBtn" class="btn " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="d-none d-md-inline">Filtrar</span>
                        <span>
                            <svg width="16" height="16" viewBox="0 0 16 16" style="fill:#707579">
                                <use href="../assets/svg/iconos.svg#icon-filter"> </use>
                            </svg>
                        </span>
                        <span id="arrow"><svg width="12" height="12" viewBox="0 0 16 16">
                                <use href="../assets/svg/iconos.svg#icon-arrow-forward"> </use>
                            </svg> </span>
                    </button>
                    <form class="mySearch d-flex gap-2 align-items-center col-9 col-md-7" role="search">
                        <svg id="icon-brief" width="18" height="18" viewBox="0 0 16 16">
                            <use href="../assets/svg/iconos.svg#icon-briefcase"> </use>
                        </svg>
                        <input class="form-control bk-blankest flex-grow-1" type="text" name="search"
                            placeholder="Buscar cargo o categoría" aria-label="Search">
                        <button id="searchBtn" class="btn btn-cta d-inline-flex  align-items-center" type="submit">
                            <span><svg width="16" height="16" viewBox="0 0 16 16">
                                    <use href="../assets/svg/iconos.svg#icon-search"> </use>
                                </svg> </span>
                        </button>
                    </form>
                </div> -->
                <!-- User options-->
                <div class="d-flex flex-row">
                    <div class="ms-auto">
                        <span class="p-1 d-none d-lg-inline">User Name</span>
                        <img src="../assets/img/profile-img/profile-picture.png" alt="user-picture" width="32"
                            height="32" class="rounded-circle me-2">
                    </div>

                    <div class="dropdown">
                        <span class="link-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"></span>
                        <ul class="dropdown-menu-end dropdown-menu">
                            <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                            <li><a class="dropdown-item" href="#">Hoja de vida</a> </li>
                            <li><a class="dropdown-item" href="#">Mis aplicaciones</a> </li>
                            <li><a class="last-dropdown-item dropdown-item" href="/index.html">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>