
header {
  height: 70px;
  background-color: var(--blankest);
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}
#imgHeader {
  width: 189px;
}
.navbar {
  background-color: var(--blankest);
  color: black;
  padding-inline: clamp(0.8rem, 2vw, 2rem);
  gap: 1.2rem;
}

.navbar-collapse {
  gap: 2rem;
}

.nav-link,
.material-symbols-outlined {
  color: black;
}

.nav-link:hover,
.nav-link:focus,
.dropdown-toggle:focus,
.dropdown-item:hover {
  color: rgb(37, 37, 37);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.ldg-busqueda {
  background-image: url(/assets/img/backgrounds/headingBackg.svg),
    linear-gradient(
      180deg,
      rgba(255, 170, 95, 0.05) 5.18%,
      rgba(34, 113, 131, 0.19) 69.94%
    );
  background-size: cover;
  background-position: center;
  padding-inline: clamp(1rem, 4vw, 6rem);
  padding-block: clamp(1.5rem, 8vw, 6rem);
  gap: clamp(0.8rem, 5vw, 1.2rem);
  gap: clamp(1rem, 3vw, 1.1rem);
}

.ldg-busqueda .form-control {
  border-radius: 8px;
  background: var(--blankest);
  box-shadow: 2px 2px 3px 0 #00000040, 2px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
}

.ldg-busqueda input.form-control::placeholder {
  color: var(--Grey);
  font-family: Afacad;
  font-size: var(--fs-placeholder);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ldg-busqueda .form-control:hover {
  border: 0.5px solid var(--Grey);
  background: var(--heavenBlank);
  box-shadow: 2px 2px 3px 0 #00000040, 2px 2px 2px 0 rgba(0, 0, 0, 0.1) inset;
}

.ldg-busqueda .form-control:focus {
  border: 1px solid var(--miniBlue);
  background: var(--lightBlank);
  box-shadow: 2px 2px 3px 0 #00000040, 2px 2px 2px 0 #f9fbff99 inset;
}

.mySearch {
  width: 50vw;
}

#ldg-pro {
  background-image: url(/assets/img/backgrounds/headingBackg.svg),
    linear-gradient(279deg, #58cce6 0%, #013b48 100%);
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  box-shadow: 0 4px 4px 0 hwb(0 0% 100% / 0.25), 0 10px 50px 0 #00000099 inset;
  position: relative;
}

.storyCard {
  border-radius: 8px;
  background: #00000026;
  padding: 20px 17px;
  width: 22vw;
}

.imgCarousel {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.usuarioTestimonio {
  color: var(--softorange);
}

.myValues {
  gap: clamp(2rem, 3vw, 4rem);
  padding: clamp(1rem, 3vw, 4rem);
  padding-top: 4rem;
}

.containerValue {
  border-radius: 4px;
  background: #f4f8fb;
  box-shadow: 2px 2px 10px 0 #0000004d;
  width: clamp(20rem, 25vw, 22rem);
  height: auto;
}

.containerValue:hover {
  background: #e7ebee;
}

.icon-hover-container {
  display: inline-block;
  position: relative;
}

.icono-values {
  width: clamp(3rem, 3vw, 3.5rem);
}

.icono-grande {
  height: 50px;
  fill: var(--darkblue);
  font-size: clamp(3rem, 3vw, 3.5rem);
  transition: color 0.3s, transform 0.3s;
}

.texto-hover {
  font-family: Rubik;
  opacity: 0;
  color: var(--blue);
  transition: opacity 0.3s;
  font-size: 1.2rem;
  margin: 0;
}

.icon-hover-container:hover .icono-grande {
  fill: var(--blue);
  transform: translateY(-8px);
}

.icon-hover-container:hover .texto-hover {
  opacity: 1;
}

.container-jobs-carrousel {
  background: var(--blankest);
  border-top: 3px solid var(--bluestgrey);
  box-shadow: 0 0 20px 0 #00000040;
  position: relative;
}

.text-sup {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: #00000080;
  padding: 8px 20px;
}

.ldg-how-work {
  background: linear-gradient(
    100deg,
    #013b48 -0.5%,
    #58cce6 52.44%,
    #ffaa5f 105.14%
  );
}

.container-how-work {
  padding-inline: clamp(1rem, 4vw, 6rem);
  padding-block: clamp(3rem, 8vw, 6rem);
  gap: clamp(1.5rem, 5vw, 2rem);
  transition: color 0.3s, transform 0.3s;
}

.containerSteps:hover,
.container-how-work:hover {
  transform: translateY(-8px);
}

.cardStep {
  border-radius: 4px;
  background: #0c0e1e4d;
  box-shadow: 2px 2px 10px 0 #0000004d;
  width: clamp(15rem, 25vw, 22rem);
  gap: 0.5rem;
}

footer {
  gap: 4rem;
  padding: 2rem 1rem;
  padding-inline: 0.5rem;
  background-color: var(--angelblank);
}

.logo-Redes {
  gap: clamp(0.8rem, 2rem, 2.2rem);
  padding: clamp(0.2rem, 3vw, 3rem);
}

.redes {
  width: clamp(3rem, 5vw, 5rem);
}

#imgFooter {
  width: clamp(22rem, 40vw, 25rem);
}

footer ul {
  gap: clamp(0.3rem, 1.5vw, 1.5rem);
}

#informacionFooter {
  gap: clamp(1rem, 3vw, 1.1rem);
  padding: 2rem 0;
}

#informacionFooter > ul > li > a {
  color: var(--Grey);
  font-weight: 500;
  text-decoration: none;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}

#informacionFooter > ul > li > a:hover {
  color: var(--darkgrey);
  font-weight: 500;
}

input.login-input:focus,
input.login-input:hover,
input.login-input,
.input-group-text {
  background-color: #ffffff00;
  box-shadow: none;
}

.eyePassword {
  color: white;
}

.pcb {
  border-radius: 6px;
  border-right: 0.8px solid #0c0e1ecc;
  border-bottom: 0.8px solid #0c0e1ecc;
  background: var(--lightBlank);
  box-shadow: 0.5px 0.5px 1px 0 #0000001a inset, 2px 2px 5px 0 #00000040;
}

.pcb:hover {
  background: var(--blankgrey);
  color: var(--bluestgrey);
}

.modal-content,
.modal-body {
  font-family: rubik;
}

.modal-content {
  background-color: var(--dark);
}

.btn-close {
  filter: invert(1);
}

.input-group label {
  position: absolute;
  left: 0;
  top: 25%;
  padding: 0 0.25rem;
  color: #dfe9f2;
  font-family: rubik;
  font-size: var(--fs-placeholder);
  transition: 0.3s ease;
  pointer-events: none;
}

.modal a {
  color: var(--lightSkyBlue);
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown):valid + label {
  top: 0;
  transform: translateY(-50%) scale(0.8);
}

.checkbox-wrapper-18 .round {
  position: relative;
}

.checkbox-wrapper-18 .round label {
  background-color: var(--darkblue);
  border: 1px solid var(--blankest);
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  display: inline-block;
}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid var(--darkblue);
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 10px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  display: none;
  opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
  background-color: var(--blankest);
  border-color: var(--blankest);
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input.signup-input:focus,
input.signup-input:hover,
input.signup-input,
.signUp .input-group-text {
  background-color: transparent;
  box-shadow: none;
}

.signUp .modal-content,
.signUp .modal-body {
  color: var(--dark);
}

.signUp .modal-content {
  background-color: white;
}

.signUp .form-control,
.signUp .form-control:active {
  background-color: transparent;
  border: none;
}

.signUp .input-group label {
  position: absolute;
  left: 0;
  top: 25%;
  padding: 0 0.25rem;
  color: var(--dark);
  font-family: rubik;
  font-size: var(--fs-placeholder);
  transition: 0.3s ease;
  pointer-events: none;
}

.signUp a {
  color: var(--darkyblue);
  font-weight: 500;
  text-decoration: none;
}

.signUp .checkbox-wrapper-18 .round label {
  background-color: var(--blankest);
  border: 1px solid var(--darkblue);
}

.signUp .checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
  background-color: var(--blankest);
  border-color: var(--darkblue);
}

.container-form-contact {
  padding: 0;
  padding-top: 6rem;
}

.form-contact {
  background-color: var(--angelblank);
  margin-bottom: clamp(5rem, 30vw, 18rem);
}

textarea {
  resize: none;
  height: 200px;
}

@media (max-width: 768px) {
  .mySearch {
    width: 80vw;
  }

  .storyCard {
    width: 65vw;
  }

  .containerValue {
    width: 80vw;
    height: auto;
  }

  .cardStep {
    width: 60vw;
  }
}



